.base {
  padding: 1rem 1.5rem;
  border: 3px solid transparent;
  outline: none;

  transition: all var(--ani-time) ease-in;

  font-weight: 500;
  font-size: 1.1rem;

  cursor: pointer;
  background-color: var(--clr-accent-primary);
  border-radius: var(--border-radius);

  &:hover {
    background-color: transparent;
    color: var(--clr-accent-primary);
    border: 3px solid var(--clr-accent-primary);

    transition: all var(--ani-time) ease-in;
  }
}
