@import "styles/_timings";
@import "styles/_colors";

.base {
  padding: 1rem 1.5rem;
  border: 1px solid black;
  outline: none;

  transition: all $ani-time ease;

  font-size: 1.1rem;

  background-color: $clr-accent;
  border-radius: var(--border-radius);

  &:hover {
    background-color: $clr-accent-hover;
    transition: all $ani-time ease;
  }
}
