@import "styles/_constants";
@import "styles/_colors";

.color-dark {
  color: $clr-txt-dark;
}
.color-light {
  color: $clr-txt;
}

.title[data-size="info"] {
  color: #ababab;
  font-weight: 700;
  font-size: 2rem;
}

.title[data-size="large"] {
  position: relative;
  display: inline-block;
  font-size: 2.4rem;
  max-width: 21ch;
  text-align: left;
}
