@import "styles/_timings";
@import "styles/_colors";

$box-shadow: 0 0 2rem 0.5rem inset;

.button:not([data-btn-typ="not-styled"]) {
  padding: 1.4rem 1.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
}

.button[data-btn-type="not-styled"] {
  outline: unset;
  border: unset;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: $clr-txt;
  background-color: unset;
}

.button[data-btn-type="primary"] {
  border: 1px solid black;
  transition: all $ani-time ease;
  background-color: $clr-accent;
}

.button[data-btn-type="secondary"] {
  outline: 1px solid black;
  transition: all $ani-time ease-in;
  background-color: transparent;
}
