@keyframes ani {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: calc(100% + 0.5rem);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}

.title-underline {
  position: absolute;
  left: -0.25rem;
  right: 0;
  bottom: 0;
  height: 5px;

  background-color: var(--clr-accent-secondary);
  animation: ani 1s ease 1s both;
  z-index: 999999999999999;

  z-index: -99999;
  transition: height 0.2s, border-radius 0.2s 0.2s;

  &:hover:first-child {
    color: black;
  }
}

.container-underline {
  color: var(--clr-text-primary);
  z-index: 999999999999999;
  transition: color 0.25s ease-in;
  position: relative;

  &:hover {
    color: rgba(0, 0, 0, 0.85);
    transition: color 0.25s ease-out 0.125s;
  }

  &:hover span {
    border-radius: 0;
    height: 100% !important;
    transition: height 0.2s;
    z-index: -99999;
  }
  span {
    z-index: -99999;
    transition: height 0.2s, border-radius 0.2s 0.2s;
  }
}
