@import "styles/_constants";
@import "styles/_colors";

.wrapper {
  background-color: $clr-bg-light;
  padding-block: var(--sc-space);
  gap: var(--sc-space);

  .container {
    position: static;
    max-width: $max-width;
    padding: var(--sc-space);
    margin: 0 auto;
  }

  .container-2 {
    padding: var(--sc-space);
    position: static;
    max-width: $max-width;
    margin-inline: auto;
    max-height: 500px;
    display: flex;
    justify-content: space-between;

    &.revert {
      flex-direction: row-reverse;
    }
  }
}

.age-container {
  display: inline;
  position: relative;
}

.title {
  margin-left: auto;
  text-align: right;
}

.image {
  border-radius: var(--border-radius);
  max-width: 50%;
  max-height: 100%;
}

#sail-image {
  // max-width: 50%;
  // max-height: 100%;
}

.to-right {
  margin-left: auto;
  text-align: right;

  position: relative;
  right: -5rem;
  width: calc(100% + 5rem);
  left: 0;
}

.to-left {
  margin-right: auto;
  text-align: left;

  position: relative;
  left: -5rem;
  width: calc(100% + 5rem);
  right: 0;
}

.title-to-left {
  text-align: left;
  margin-right: 0 auto;
  left: 0;
  margin-left: 0;
}

.underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.8rem;
  width: 100%;
}
