.wrapper {
  .container {
    padding: var(--sc-space);
    max-width: var(--bp-max-width);
    margin: 0 auto;
  }
}

.age-container {
  display: inline;
  position: relative;
}

.title {
  margin-left: auto;
  text-align: right;
}

.to-right {
  margin-left: 0 auto;
  text-align: right;

  position: relative;
  right: -5rem;
  width: calc(100% + 5rem);
  left: 0;
}

.to-left {
  margin-right: 0 auto;
  text-align: left;

  position: relative;
  left: -5rem;
  width: calc(100% + 5rem);
  right: 0;
}

.title-to-left {
  text-align: left;
  margin-right: 0 auto;
  left: 0;
  margin-left: 0;
}

.underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.8rem;
  width: 100%;
}
