@keyframes ani {
  0% {
    width: 0;
    left: -5rem;
    bottom: -40rem;
    height: 100%;
    top: -40rem;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(45deg);
    width: 140vw;
  }
  100% {
    transform: rotate(45deg);
    width: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

.first {
  background-color: #1b1b21;
  position: fixed;
  animation: ani 1.2s ease-in;
}
.second {
  background-color: #1e1e25;
  position: fixed;
  animation: ani 1.2s ease-in 0.2s;
}
