@import "styles/constants";
@import "styles/_colors.scss";

.content {
  max-width: $max-width;
  &[data-bottom="true"] {
    padding-bottom: var(--space);
  }
  &[data-top="true"] {
    padding-top: var(--space);
  }
  padding-inline: calc(var(--space) * 1.5);
  margin-inline: auto;
}

.wrapper-light {
  background-color: $clr-bg-light;
}

.wrapper-dark {
  background-color: $clr-bg-dark;
}
