.wrapper {
  padding-block: calc(var(--sc-space) / 1.5);
  padding-inline: var(--sc-space);
  background-color: var(--clr-background-secondary);

  .container {
    max-width: var(--bp-max-width);
    margin-inline: auto;
    gap: calc(var(--sc-space) / 3);
    display: flex;
    flex-direction: column;
  }
}

.card-container {
  display: flex;
  gap: 1rem;
}
