@import "styles/_constants";
@import "styles/_colors";

.wrapper {
  background-color: $clr-bg-light;
  width: 100%;
  border-block: 1px solid $clr-txt;

  .container {
    margin: 0 auto;
    @apply py-[1.5rem] max-w-max-w;
    padding-block: calc(var(--sc-space) / 3);

    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;

    @media screen and (max-width: 1000px) {
      justify-content: center;
    }

    .left {
      display: flex;
      justify-content: flex-start;
      gap: calc(var(--sc-space) / 2);
    }

    .right {
      display: flex;
      justify-content: flex-end;
      gap: calc(var(--sc-space) / 2);
    }
  }
}
