$clr-dark-background: hsl(240, 10%, 12%);
$clr-dark-background-secondary: hsl(240, 10%, 13%);

$clr-bg-light: hsl(0, 0%, 95%);
$clr-bg-dark: hsl(230, 8%, 14%);
$clr-accent: hsl(207, 47%, 82%);
$clr-accent-dark: hsl(229, 13%, 17%);
$clr-accent-hover: rgb(162, 199, 255);
$clr-txt: hsl(0, 0%, 24%);
$clr-txt-dark: rgba(255, 255, 255, 0.7);

// old
// $clr-dark-backgrounrgb(6, 6, 82%);
// $clr-dark-background-secondary: hsl(240, 10%, 13%);

// $clr-bg-light: hsl(0, 0%, 95%);
// $clr-bg-dark: hsl(240, 10%, 13%);
// $clr-accent: hsl(223, 100%, 79%);
// $clr-accent-hover: hsla(0, 0%, 0%, 0.09);
// $clr-txt: hsl(0, 0%, 24%);
