*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --clr-text-primary: hsl(0, 0%, 85%);
  --clr-text-secondary: rgb(160, 160, 160);
  --clr-text-third: rgb(140, 140, 140);

  --clr-accent-primary: rgb(150, 180, 255);
  --clr-accent-secondary: rgb(144, 140, 250);

  --clr-background-primary: rgb(30, 30, 37);
  --clr-background-secondary: rgba(60, 60, 74, 0.2);
  --clr-background-third: rgba(90, 90, 90, 0.3);
  --clr-background-modal: rgba(0, 0, 0, 0.7);

  --border-radius: 0.4rem;

  --bp-max-width: 1070px;

  --ani-time: 0.3s;
}
